.social-text {
}
.social-text__list {
  list-style-type: none;
  padding: 0;
  margin: -12px 0;
}
.social-text__item {
  margin: 12px 0;
}
.social-text__link {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
